@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
        ;
    }
    80% {
        opacity: 1;
        transform: translateX(-3px);
        ;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        ;
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
        ;
    }
    80% {
        opacity: 1;
        transform: translateX(3px);
        ;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        ;
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
        ;
    }
    80% {
        opacity: 1;
        transform: translateY(-3px);
        ;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        ;
    }
}

@keyframes slideLeftNav {
    0% {
        opacity: 0;
        transform: translate(300%, -50%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
        ;
    }
}

@keyframes slideRightNav {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 0;
        transform: translate(300%, -50%);
        ;
    }
}