.header {
    background-image: linear-gradient(to right bottom, rgba($color-light, .8), rgba($color-dark, .8)), url('../img/back.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
    height: 95vh;
    clip-path: ellipse(62% 62% at 50% 32%);
    @include respond(phone) {
        clip-path: ellipse(62% 62% at 50% 10%);
    }
    &__logo-box {
        position: absolute;
        top: 28px;
        left: 30px;
        @include respond(tab-phone) {
            top: 2.5rem;
            left: 1rem;
        }
        .header__logo-img {
            height: 70px;
            @include respond(tab-phone) {
                height: 60px;
            }
        }
    }
    &__text-box {
        color: $color-white;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}